
body{
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

}
.card{
  width: 300px;
  height: 450px;
  background-color: white;
  border-radius: 15px;
  position: relative;
    
  display: flex;
  justify-content: center;
  align-items: center;

}
.top-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 80px;
}

.bottom-icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 80px;
  transform: rotate(180deg);
}

#value {
  font-size: 150px;
  font-weight: bold;
}

