
body{
  background-color: rgb(248, 230, 246);
  margin-top: 20px; 
}

.container-card {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
    position: relative;

}


.card{
  width: 300px;
  height: 450px;
  background-color: white;
  border-radius: 15px;
  position: relative;
    
  display: flex;
  justify-content: center;
  align-items: center;

  

}
.top-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 80px;
}

.bottom-icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 80px;
  transform: rotate(180deg);
}

#value {
  font-size: 150px;
  font-weight: bold;
}



#heightCard[type="range"] {
  appearance: slider-vertical;

}


input[type="range"]{
  accent-color: rgb(255, 1, 204);
}


.controls {
  display: flex;
  align-items: center;
  gap: 20px;
  
}
#button span{
  color: rgb(151, 2, 137);
}
